<!-- Navigation -->
<app-topbar></app-topbar>
<!-- Page Header -->
<header class="subpage" style="background-image: url('/assets/img/library.jpg')">

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-10 mx-auto">
        <div class="subpage-heading" style="width:100%; text-align: center;">
          <h1><span style="color: rgb(253, 253, 253); font-weight:bold; text-shadow: black 0.1em 0.1em 0.2em">{{namemenu}}</span></h1>

          <!--Menu bar-->
          <div class="subpage-menubar" style="margin-bottom: 40px;">
            <a [ngClass]="{'navbar-brand btn': true, 'btn-primary': chkBtn != 0, 'btn-warning': chkBtn === 0}" (click)="homeClick()"
              style="margin-bottom: 20px;"><i class="fas fa-home"></i>
              Home
            </a>
            <a [ngClass]="{'navbar-brand btn': true, 'btn-primary': chkBtn != 0, 'btn-warning': chkBtn === 0}" (click)="homeClick()"
              style="margin-bottom: 20px;">
              OTHER CAT
            </a>

          </div>
          <!--End menu bar-->

        </div>
      </div>
    </div>
  </div>
</header>

<!-- subpage-menubar -->
