#mainNav .container{
    padding-right: 0px;
    margin-right: 0px;
}

.btn-group #btnStatus{
    padding-top: 3px;
    padding-bottom: 3px;
}

/* .subpage-menubar{
    width: 80%;
    margin-left: 12%;
} */
a.navbar-brand.btn.btn-primary{
    color: white;
}
a.navbar-brand.btn.btn-warning{
    color: rgb(0, 0, 0);
}
    
/* @media screen and (min-width: 958px) and (max-width: 1199px) {
    .col-lg-Wide{
        width: 120%;
        text-align: center
    }
} */