<div style="padding-top: 50px; padding-bottom: 50px; background-image: url(/assets/img/blue.png);background-size: cover;">
  <!--Recent post bar-->
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div><!-- .Col ends here -->
      <div class="col-md-12">
        <div class="sidebar widget" style="border-radius: 30px;box-shadow: 0 2px 5px rgba(0,0,0,.1);">
          <h3>New Arrival</h3>
          <ul>
            <ng-container *ngFor="let book of book">
              <ng-container>
                <li [routerLink]="['newcontent/', book.id]">
                  <div>
                    <div class="sidebar-thumb">
                      <img class="animated rollIn" src="/assets/img/new_logo.png"
                        alt="" />
                    </div><!-- .Sidebar-thumb -->
                    <div class="sidebar-content">
                      <h5 class="animated bounceInRight" style="float:left"><a>{{book.name}}</a></h5>
                    </div><!-- .Sidebar-thumb -->
                 
                    <div>
                      <span>{{book.author}}</span>
                    </div>
                    <div class="sidebar-meta">
                      <span>{{book.detail}}</span>
                    </div>
                  </div>
                </li><!-- .Li ends here -->
              </ng-container>
            </ng-container>
          </ul><!-- .Ul ends here -->
        </div><!-- .Widget ends here -->
      </div><!-- .Col ends here -->
      <div class="col-md-12"></div><!-- .Col ends here -->
    </div><!-- .Row ends here -->
  </div><!-- .Container ends here -->
  <!--End Recent post bar-->
</div>