
/*********************************************************************************/
/* Recent post bar                                                                          */
/*********************************************************************************/
  ul, li {
      list-style: none;
  }
  h5{
    margin: 0;
  }
  h3{
    color: #2996bd;
    margin: 10px 0px 15px;
    padding-bottom:10px;
    padding-left: 10px;
    border-left: 5px solid #32aae1;
  }
  .sidebar.widget {
    background: #f5f5f5;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px 20px;
  }
  .sidebar.widget ul {
      margin: 0px;
      padding: 0;
      overflow: hidden;
  }
  .sidebar.widget ul li {
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 20px;
      border-bottom: 1px dashed rgb(116, 148, 255);
      padding-bottom: 20px
  }
  .sidebar-thumb{
      float: left;
      overflow: hidden;
      margin-right: 15px;
  }
  .sidebar-thumb img{
    background: #fff;
    border: 1px dashed #2996bd;
    padding: 6px;
    height: 75px;
    width: 75px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 10px;
  }
  .sidebar-content h5{ 
      font-size: 16px;
      cursor: pointer;
      line-height: 24px;
  }
  .sidebar-content h5 a:hover{ 
    color: #2996bd;
  }
  
  .sidebar-content h5 a{ 
      color: #202020;
      outline: 0 none;
      text-decoration: none;
      font-weight: bold
  }
  .sidebar-meta{
    margin-top: 10px;
  }
  .sidebar-meta span{
    color: #2e2e2e;
  }
  .sidebar-meta span.time{
    margin-right: 10px;
  }
  .sidebar-meta span i{
    color: #2996bd
  }

  /* ------------------ Floating button ------------------- */

  /* *{padding:0;margin:0;}

body{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
  background-color:rgb(255, 255, 255);
} */
/* .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(255, 118, 55);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
} */
/* 
.my-float{
	margin-top:22px;
}

a:focus,a:hover{
  color:#affa00
} */
/* ------------------ END Floating button ------------------- */

.btn-group #btnStatus{
  padding-top: 3px;
  padding-bottom: 3px;
}

.sidebar li { 
  cursor: pointer; 
}

.sidebar li:hover {
  background-color: #dbdbd6f3;
}
