<nav class="d-block text-white fixed-top" style="z-index: 99; background-color:rgba(95, 95, 95, 0.4); padding: 7px 18px 7px 18px; position: absolute;">
  <!-- <img src="" style="height: 40px; width: auto;">&nbsp; -->
  <span class="navbar-brand" (click)="returnHomepage()" style="cursor: pointer;">Library System</span>

  <div class="GroupRightMenu" style="display:-webkit-inline-box; float: right;">
    <a class="nav-link" (click)="searchClick()" style="cursor: pointer;"><i style="color: rgb(253, 253, 253)" class="fas fa-search"></i><i
        style="color: rgb(253, 253, 253); font-size: 15px; font-weight: 800; letter-spacing: 1px; text-transform: uppercase; font-style: italic;">
        Search</i></a>

    <div class="dropdown">
      <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>
        <!-- {{userDetail}} -->
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Go to Admin page</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()" style="cursor:pointer;">Log-out <i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
  </div>
</nav>