<div class="container">
  <div class="row">
    <div class="col-md-12">

      <table style="margin-left:15px; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
        <tr>
          <td class="topic"><b>ID:</b></td>
        <td>{{bookID}}</td>
        </tr>
        <tr>
          <td class="topic"><b>Book Name:</b></td>
          <td class="td-filename" title="{{bookname}}">{{name}}</td>
        </tr>
        <tr>
          <td class="topic"><b>Author:</b></td>
          <td>{{author}}</td>
        </tr>
        <tr>
          <td class="topic"><b>Released Date:</b></td>
          <td>{{releaseDate}}</td>
        </tr>
        <tr>
          <td class="topic"><b>Category:</b></td>
          <td>{{category}}</td>
        </tr>
      </table>

      <br />
      <hr />
      <div class="CoveAll" style="background-color: aliceblue; border-radius: 15px;">
        <ng-container>
          <div
            style="text-align: center; font:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif; margin-top:30px;">
            <button class="btn btn-success" style="border-radius:15px; margin-right: 30px; padding: 3px 20px;">
              <i class="fas fa-chevron-left"></i> Prev
            </button>

            <span style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">
              <input autofocus type="text" style="border-radius:.25rem; border: 1px solid #ced4da; width: 50px;" placeholder="{{order}}"/>
              / {{book.length}}
            </span>

            <button class="btn btn-success" style="border-radius:15px; margin-left: 30px; padding: 3px 20px;">
              Next <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </ng-container>
        <br />

      </div>

    </div>
    <!-- END class col-md-12 -->
  </div>
  <!-- END class row -->
</div>
<!-- END class container -->