
li, li a{
    cursor: pointer;
    text-decoration: none;
  }
  li:hover, a:hover{
    color: #0085a1;
  }
  /*Checkbox style*/
  .checkbox label:after {
    content: '';
    display: table;
    clear: both;
  }

  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #424242;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    vertical-align: text-top;
    /* float: left;
    margin-right: .5em; */
  }

  .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
  }

  .checkbox label input[type="checkbox"] {
    display: none;
  }

  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
  }

  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
  }

  .checkbox label input[type="checkbox"]:disabled+.cr {
    opacity: .5;
  }
  .checkbox-border{
    border:solid 2px;
    width: 180px;
    border-radius: 10px;
    border-color: darkorange;
    background-color: transparent;
    color: darkorange;
    font-size: medium;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td{
    vertical-align: top;
  }
  .topic{
    width: 150px;
  }
  @media only screen and (min-width: 768px) and (max-width: 1280px){
    .td-filename{
      max-width: 200px;
      white-space: normal !important;
      word-wrap: break-word;
    }
  }
  @media only screen and (min-width: 1360px) and (max-width: 2000px){
    .td-filename{
      max-width: 300px;
      white-space: normal !important;
      word-wrap: break-word;
    }
  }
  .float{
    position:fixed;
    cursor: pointer;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color: #8FA4FF;
    border-radius:10px;
    text-align:center;
  }

  .my-float{
    margin-top:20px;
  }
